.category
{
    background-color: #21232B;
    height: 3.5rem;
    display: flex;
}
.categorynav
{
    display: flex;
    color: #F4F3F0;
}
.categoryul
{
    display: flex;
}
.categoryul li
{
    list-style: none;
    font-size: 0.9rem;
    font-family: 'Montserrat',sans-serif;
    margin-right: 1rem;
    margin-left: 1.9rem;
}
ul li:hover
{
    color: lightgray;
    cursor: pointer;
}