.ledtv-faq-container
{
    background-color: #F4F3F0;
    padding: 50px;
}
.ledtv-faq-head
{
    font-size: 48px;
    font-weight: 700;
    line-height: 52.8px;
    color: rgb(39, 39, 39);
    text-align: center;
}
.question
{
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 28px;
}
.answer
{
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    width: 40rem;
}
