.signuplogo
{
    width: 250px;
    height: 100px;
    position: relative;
    left: 11.5rem;
}
.signupform
{
    background-color: #F4F3F0;
    height: 100vh;
}
.signupcard
{
    width: 40rem;
    height: auto;
    position: relative;
    background-color: #FFFFFF;
    left: 30rem;
    top: 1rem;
}
.signupcardbody
{
    position: relative;
    left: 3rem;
}
form input
{
    padding: 5px;
    width: 30rem;
}
.continue
{
    padding: 10px;
    width: 30rem;
}
.loginlink
{
    text-decoration: none;
    color: black;
    position: relative;
    left: 0.3rem;
}
.loginlink:hover
{
    text-decoration: underline;
}
.phonenumberinput
{
    padding: 10px;
    width: 30.5rem;   
}
.overlay 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999; 
    overflow: hidden;
}
.signupalert
{
    margin: 0;
    padding: 20px;
    width: 30rem;
    height: 18rem;
    position: relative;
    left: 34rem;
    top: 14rem;
    z-index: 1000;
    background-color: white;
}
.signupalerthead
{
    text-align: center;
    position: relative;
    top: 1.5rem;
}
.signupalerttxt
{
    text-align: center;
    position: relative;
    top: 1.5rem;
}
.successimg
{
    width: 50px;
    height: 50px;
    position: relative;
    left: 12rem;
    top: 1.5rem;
}
.alertlogin
{
    position: relative;
    left: 10.5rem;
    top: 1.5rem;
    background-color: green;
    color: white;
}
