.shoplogoimg
{
    width: 250px;
    height: 70px;
    position: relative;
    left: 25rem;
}
.shopcartimg
{
    width: 30px;
    height: 30px;
    position: relative;
    left: 47rem;
    top: 1.3rem;
}
.shopheader
{
    background-color: #282828;
    border-bottom: 0.5px solid  #ccc;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 999;
}
.shopsearchicon
{
    position: relative;
    left: 1rem;
    top: 1rem;
    width: 25px;
    height: 25px;
}
.link
{
    text-decoration: none;
    color: #F4F3F0;
}
.lookingfor
{
    position: relative;
    left: 3rem;
    bottom: 0.6rem;
}
.shoplogin
{
    position: relative;
    left: 42.8rem;
    top: 1.2rem;
    font-size: 24px;
}
.profileshoplogin
{
    position: relative;
    left: 47rem;
    top: 1.6rem;
    font-size: 17px;
}
span
{
    border: 1px solid #F4F3F0;
    padding: 5px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 1rem;
    font-weight: bolder;
    display: flex; 
    align-items: center;
    justify-content: center;
    position: relative;
    left: 48.8rem;
    bottom: 0.3rem;
    background-color: #F4F3F0;
    color: black;
}
.shopsearch 
{
    position: fixed;
    top: 10px;
    border-radius: 5px;
    width: 30rem;
    height: 44rem;
    padding: 20px;
    background-color: white;
    z-index: 999; 
    display: none;
}
.shopsearch input
{
    width: 400px;
    height: 50px;
    padding: 30px;
    font-size: large;
    position: relative;
    top: 2.5rem;
}
.shopsearch.active 
{
    display: flex;
    flex-direction: column;
}
.shopcloseicon
{
    position: relative;
    left: 405px;
    width: 30px;
    height: 30px;
}
.shopsearchlistings
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 5rem;
    left: 1rem;
}
.shopsearchlistingslink
{
    text-decoration: none;
    color: rgb(40, 40, 40);
    font-size: 16px;
}
.shopsearchlistingslink:hover
{
    text-decoration: none;
    color: lightgray;
    font-size: 16px;
}
.shopdownicon
{
    width: 15px;
    height: 15px;
    position: relative;
    left: 47.5rem;
    top: 1.9rem;
}
.profileicon
{
    width: 24px;
    height: 24px;
    position: relative;
    left: 46.5rem;
    top: 1.5rem;
}
.userinfosubmenu
{
    position: fixed;
    top: 4rem;
    right: 9rem;
    height: auto;
    padding: 25px;
    border-radius: 5px;
    background-color: white;
    z-index: 999; 
    display: none;
}
.userinfosubmenu.active
{
    display: block;
}
.profile
{
    position: relative;
    right: 5rem;
    cursor: pointer;
    display: flex;
}
.logouticon
{
    width: 25px;
    height: 25px;
    position: relative;
    top: 0.2rem;
    left: 0.5rem;
}
.logoutoption
{
    position: relative;
    left: 1rem;
    top: 0.2rem;
    cursor: pointer;
}
.profileicondark
{
    width: 60px;
    height: 35px;
    position: relative;
    right: 0.9rem;
}
.userinfo
{
    display: flex;
}
.username
{
    position: relative;
    right: 0.8rem;
    bottom: 0.3rem;
}
.email
{
    position: relative;
    top: 1rem;
    right: 2.6rem;
}
