.laptoppagetitle
{
    width: 100%;
    height: 23rem;
    background: url('../../../assets/laptoppagecard.jpg') no-repeat;
    background-size: 100% 20rem;
}
.laptoppagehead
{
    color: white;
    text-align: center;
    position: relative;
    top: 5rem;
    font-size: 50px;
    font-weight: 500;
    line-height: 53px;
}
.laptoppagetitlecontent
{
    color: white;
    text-align: center;
    position: relative;
    top: 6rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 27px;
}
.filtercategorytitle
{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 27px;
    position: relative;
    left: 3.5rem;
}
.categorycheckbox
{
    position: relative;
    left: 3.5rem;
}
.container
{
    position: relative;
    bottom: 15rem;
    padding: 10px;
    width: 78%;
    left: 4rem;
}
.laptoppage
{
    overflow: hidden;
} 
.laptopname
{
    font-size: 1.1rem;
    font-weight: 400;   
}
.laptopname:hover
{
    color: orange;
}
.mrpprice
{
    text-decoration: line-through;
}
.actual_price
{
    font-size: 28px;
}
.rating
{
    display: flex;
}
.ratingvalue
{
    font-size: 15px;
}
.star-container
{
    position: relative;
    left: 0.6rem;
    bottom: 0.4rem;
}
.numreviews
{
  position: relative;
  left: 1.2rem;
}
.productimg
{
    height: 180px;
}
.flexcontainer
{
    display: flex;
}